@attribute [Authorize(Roles = "admin")]
@page "/admin/type"
@inject IProductTypeService productTypeService
@inject IProductCategoryService productCategoryService
@inject IToastService toastService

@if (productTypeDTOs is null)
{
    <Spinner />
}
else
{
    <div class="row">
        <div class="col-sm-6 mb-3">
            <h2>Add New Type</h2>
            <EditForm Model="productTypeDTO" OnValidSubmit="SaveProductType">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @*Custom error message for select controls that don't validate properly*@
                <ul class="validation-message">@((MarkupString)CustomErrorMessage)</ul>
                <div class="mb-2">
                    <label class="form-label">Name</label>
                    <div class="col-lg-6 col-md-10 col-sm-12">
                        <InputText @bind-Value="productTypeDTO.Name" class="form-control"></InputText>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label">Category</label>
                    <div class="col-lg-6 col-md-10 col-sm-12">
                        <InputSelect @bind-Value="productTypeDTO.CategoryId" class="form-select">
                            <option></option>
                            @foreach (var category in productCategoryDTOs)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary me-3">Save</button>
                @if (this.SaveInProgress)
                {
                    <span class="spinner-border text-success align-middle"></span>
                }
                <a href="admin/product/list" type="button" class="btn btn-secondary">
                    Back to Product List
                </a>
            </EditForm>
        </div>

        <div class="col-sm-6">
            <h2>Current Types</h2>
            <div>
                @foreach (var productType in productTypeDTOs)
                {
                    <p>
                        <span class="oi oi-circle-check text-success"></span>
                        @productType.Name
                    </p>
                }
            </div>
        </div>
    </div>
}

@code {
    private IEnumerable<ProductTypeDTO> productTypeDTOs { get; set; }
    private ProductTypeDTO productTypeDTO { get; set; } = new();
    private IEnumerable<ProductCategoryDTO> productCategoryDTOs { get; set; }

    private bool SaveInProgress { get; set; }
    private string CustomErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.productTypeDTOs = (await this.productTypeService.GetProductTypesAsync())
            .OrderBy(t => t.Name);
        this.productCategoryDTOs = await this.productCategoryService.GetProductCategoriesAsync();
    }

    private async Task SaveProductType(EditContext editContext)
    {
        if (!FormIsValid())
        {
            return;
        }

        this.SaveInProgress = true;

        await this.productTypeService.SaveProductTypeAsync(this.productTypeDTO);

        this.productTypeDTOs = await this.productTypeService.GetProductTypesAsync();

        this.toastService.ShowSuccess(
            message: $"Type ({this.productTypeDTO.Name}) has been Saved Successfully.",
            heading: "Success");

        await Task.CompletedTask;

        this.ClearForm();

        this.SaveInProgress = false;
    }

    private bool FormIsValid()
    {
        this.CustomErrorMessage = null;

        if (this.productTypeDTO.CategoryId <= 0)
        {
            this.CustomErrorMessage += "<li>Category is required.</li>";
            return false;
        }

        return true;
    }

    private void ClearForm()
    {
        this.productTypeDTO = new();
    }
}
