@inherits LayoutComponentBase

<PageTitle>APC</PageTitle>

<div class="page">
    <main>
        <div>
            <FreshcartStockAdminNavbar></FreshcartStockAdminNavbar>
        </div>
        <div>
            <FreshcartStockNavbar />
        </div>
        <article class="px-4">
            @Body
        </article>
    </main>
</div>
