<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Administration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentAdmin" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContentAdmin">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link @*dropdown-toggle*@" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin/product/list">View List of Products</a>
                    <a class="dropdown-item" href="admin/product/new">Create New Product</a>
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin/product/list">View List of Products</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link @*dropdown-toggle*@" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Areas Of Application
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin/areasofapplication">Add New</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link @*dropdown-toggle*@" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Attributes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin/attribute">Add New</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link @*dropdown-toggle*@" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Types
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin/type">Add New</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link @*dropdown-toggle*@" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accounts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin/account/company">Companies</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link @*dropdown-toggle*@" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Companies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin/company">Add New</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link @*dropdown-toggle*@" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <em>Code Samples</em>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="authorize/test">Authorization Testing</a>
                </div>
            </li>
        </ul>
    </div>
</nav>