

<AuthorizeView>
    <Authorized>
        <span class="text-light">Hello, @AppState.CurrentAccountName | </span>
        <a href="MicrosoftIdentity/Account/SignOut" class="text-light">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="text-light">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private CascadingAppState AppState { get; set; }
}