

<AuthorizeView>
    <Authorized>
        <span class="text-light">Hello, @UserName | </span>
        <a href="MicrosoftIdentity/Account/SignOut" class="text-light">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="text-light">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@inject IHttpContextAccessor httpContextAccessor

@code{
    public string UserName { get; set; }

    protected override void OnInitialized()
    {
        var user = this.httpContextAccessor.HttpContext.User;
        UserName = user.Identity?.Name! ?? "John Doe";
    }
}