@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<PageTitle>APC</PageTitle>

<div class="page">
    <main>
        <AuthorizeView Roles="admin">
            <div>
                <AdminNavbar></AdminNavbar>
            </div>
        </AuthorizeView>
        <div>
            <Navbar />
        </div>
        <article class="px-4">
            @Body
        </article>
        <BlazoredToasts Position="ToastPosition.BottomRight" />
        <footer>
            <Footer/>
        </footer>
    </main>
</div>
