@page "/products/browse"
@inject IDbContextFactory<APCContext> DbFactory

<PageTitle>Browse products</PageTitle>

<h1>Browse Products</h1>

@if (Products is null || !Products.Any())
{
    <div>Loading...</div>
}
else
{
    <div class="row">
        @foreach (var product in Products)
        {
            <div class="col-sm-4 mb-3">
                <ProductItemDisplay Product="product"></ProductItemDisplay>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<APC.DAL.Models.Product> Products = new List<APC.DAL.Models.Product>();

    protected override Task OnInitializedAsync()
    {
        LoadProductsFromDB();

        return base.OnInitializedAsync();
    }

    private void LoadProductsFromDB()
    {
        using var dbContext = DbFactory.CreateDbContext();
        this.Products = dbContext.Products
            .Include(p => p.Category)
            .Include(p => p.Type)
            .OrderBy(p => p.Type.Name)
            .ThenBy(p => p.Name)
            .ToList();
    }
}
