@page "/products/browse"
@inject ProductRepository productRepository

<PageTitle>Browse products</PageTitle>

<h1>Browse Products</h1>

@if (Products is null || !Products.Any())
{
    <div>Loading...</div>
}
else
{
    <div class="row">
        @foreach (var product in Products)
        {
            <div class="col-sm-4 mb-3">
                <ProductItemDisplay Product="product"></ProductItemDisplay>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<APC.DAL.Models.Product> Products = new List<APC.DAL.Models.Product>();

    protected override async Task OnInitializedAsync()
    {
        await LoadProductsFromDB();

        await base.OnInitializedAsync();
    }

    private async Task LoadProductsFromDB()
    {
        this.Products = await productRepository.GetAsync();
    }
}
