@page "/products/browse"
@inject IDbContextFactory<APCContext> DbFactory

<PageTitle>Browse products</PageTitle>

<h1>Browse Products</h1>

@if (Products is null)
{
    <div>Loading...</div>
}
else
{
    @foreach (var product in Products)
    {
        <div class="row">
            <div class="col-sm-3">
                <ProductItemDisplay Product="product"></ProductItemDisplay>
            </div>
        </div>
    }
}

<button class="btn btn-primary" @onclick="@ViewProducts">
    Init DB conext
</button>

@code {
    private IEnumerable<APC.DAL.Models.Product> Products = new List<APC.DAL.Models.Product>();

    private void ViewProducts()
    {
        using var dbContext = DbFactory.CreateDbContext();
        this.Products = dbContext.Products.ToList();
    }
}
