@page "/products/browse"
@inject IProductService productService

<PageTitle>Browse products</PageTitle>

<h1>Browse Products</h1>

@if (Products is null || !Products.Any())
{
    <Spinner/>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var product in Products)
            {
                <div class="col-md-4 col-sm-6 mb-3">
                    <ProductItemFreshcartDisplay Product="product"></ProductItemFreshcartDisplay>
                </div>
            }
        </div>
    </div>
}

@code {
    private IEnumerable<ProductDTO> Products = new List<ProductDTO>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProductsFromDB();
        }

        StateHasChanged();
    }

    private async Task LoadProductsFromDB()
    {
        this.Products = await productService.GetAllProductsAsync();
    }
}
