@page "/products/browse/detail"
@page "/products/browse/detail/{id:int}"
@inject IProductService productService

<h1>Product Detail</h1>

@if (Product is null)
{
    <div><em>Loading...</em></div>
}
else
{
    <div class="well p-3 mb-2 clearfix">
        <div class="float-start">
            <img src="@Product.ImageUrl">
        </div>
        <div class="float-start ms-3">
            <h2>@Product.Name</h2>
            <ProductAttributeDisplay ProductAttributeValues="Product.ProductAttributesValues"></ProductAttributeDisplay>
            <button href="#" class="btn btn-primary btn-lg">Add to Cart</button>
        </div>
    </div>

    <div class="mb-5">
        <h2>Areas of Application</h2>
        <AreasOfApplicationDisplay AreasOfApplications="Product.AreasOfApplications"></AreasOfApplicationDisplay>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public ProductDTO Product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.Product = await productService.GetProductByIdAsync(this.Id);
    }
}
