<div class="accordion-item py-4">

    <a href="#" class="text-inherit h5" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        <i class="feather-icon icon-credit-card me-2 text-muted"></i>Payment Method
        <!-- collapse -->
    </a>
    <div id="flush-collapseFour" class="accordion-collapse collapse " data-bs-parent="#accordionFlushExample">

        <div class="mt-5">
            <div>

                <div class="card card-bordered shadow-none mb-2">
                    <!-- card body -->
                    <div class="card-body p-6">
                        <div class="d-flex">
                            <div class="form-check">
                                <!-- checkbox -->
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="paypal">
                                <label class="form-check-label ms-2" for="paypal">

                                </label>
                            </div>
                            <div>
                                <!-- title -->
                                <h5 class="mb-1 h6"> Payment with Paypal</h5>
                                <p class="mb-0 small">
                                    You will be redirected to PayPal website to complete your purchase
                                    securely.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered shadow-none mb-2">
                    <!-- card body -->
                    <div class="card-body p-6">
                        <div class="d-flex mb-4">
                            <div class="form-check ">
                                <!-- input -->
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="creditdebitcard">
                                <label class="form-check-label ms-2" for="creditdebitcard">

                                </label>
                            </div>
                            <div>
                                <h5 class="mb-1 h6"> Credit / Debit Card</h5>
                                <p class="mb-0 small">
                                    Safe money transfer using your bank accou k account. We support
                                    Mastercard tercard, Visa, Discover and Stripe.
                                </p>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-12">
                                <!-- input -->
                                <div class="mb-3">
                                    <label class="form-label">Card Number</label>
                                    <input type="text" class="form-control" placeholder="1234 4567 6789 4321">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <!-- input -->
                                <div class="mb-3 mb-lg-0">
                                    <label class="form-label">Name on card </label>
                                    <input type="text" class="form-control" placeholder="Enter your first name">
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <!-- input -->
                                <div class="mb-3  mb-lg-0 position-relative">
                                    <label class="form-label">Expiry date </label>
                                    <input class="form-control flatpickr flatpickr-input" type="text" placeholder="Select Date" readonly="readonly">
                                    <div class="position-absolute bottom-0 end-0 p-3 lh-1">
                                        <i class="bi bi-calendar text-muted"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <!-- input -->
                                <div class="mb-3  mb-lg-0">
                                    <label class="form-label">CVV code </label>
                                    <input type="password" class="form-control" placeholder="***">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered shadow-none mb-2">
                    <!-- card body -->
                    <div class="card-body p-6">
                        <!-- check input -->
                        <div class="d-flex">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="payoneer">
                                <label class="form-check-label ms-2" for="payoneer">

                                </label>
                            </div>
                            <div>
                                <!-- title -->
                                <h5 class="mb-1 h6"> Pay with Payoneer</h5>
                                <p class="mb-0 small">
                                    You will be redirected to Payoneer website to complete your
                                    purchase securely.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered shadow-none">
                    <div class="card-body p-6">
                        <!-- check input -->
                        <div class="d-flex">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="cashonDelivery">
                                <label class="form-check-label ms-2" for="cashonDelivery">

                                </label>
                            </div>
                            <div>
                                <!-- title -->
                                <h5 class="mb-1 h6"> Cash on Delivery</h5>
                                <p class="mb-0 small">Pay with cash when your order is delivered.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button -->
                <div class="mt-5 d-flex justify-content-end">
                    <a href="#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Prev</a>
                    <a href="#" class="btn btn-primary ms-2">Place Order</a>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
