@page "/"

<PageTitle>APC</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 ">
            <h1 class="text-center">American Paper Converting</h1>

            <p class="text-center">
                At American Paper Converting, Inc. (APC) we manufacture bathroom tissue, 
                facial tissue and paper towel products.  We are now servicing national accounts 
                from Woodland, WA and Sandston, VA. APC was founded in 1997 to be a flexible 
                and innovative supplier of towel and tissue to janitorial and food service 
                distributors.
            </p>
            <p class="text-center">
                We have several state of the art converting machines capable of making
                hard wound towel, jumbo roll tissue, center pull towel, bath tissue,
                folded towel and the exclusive Soft’n Solid coreless bath tissue system.
                Our Eco Green® paper line is made with 100% recycled paper and Green Seal certified.
            </p>
        </div>
    </div>
</div>
