@page "/"

<PageTitle>Index</PageTitle>

<h1>American Paper Converting</h1>

<p>
    American Paper Converting (APC), founded in 1997, 
    is a manufacturer of Bathroom Tissue and Paper Towel products. 
    Located in Woodland, WA, our goal is to be an 
    innovative, flexible, reliable supplier to the 
    Janitorial and Food Service markets, with a strong focus on Sustainability.
</p>

<RadzenButton>Button test</RadzenButton>
