@page "/MicrosoftIdentity/Account/SignedOut";
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

@namespace APC.WebUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APC</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <main>
            <article class="px-4">
                <div class="d-flex align-items-center justify-content-center vh-100">
                    <div class="text-center">
                        <h1 class="display-1 fw-bold">Success</h1>
                        <p class="fs-3">
                            <span class="text-danger"></span> You Are Signed Out.
                        </p>
                        <p class="lead">
                            
                        </p>
                        <a href="" class="btn btn-primary">Go Home</a>
                    </div>
                </div>
            </article>
        </main>
    </div>
</body>
</html>