
<div>
    @foreach (var areaOfApplication in AreasOfApplications)
    {
        <span class="me-4">
            <span class="oi oi-circle-check text-success"></span>
            @areaOfApplication.Name
        </span>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<AreasOfApplicationDTO> AreasOfApplications { get; set; }
}
