<EditForm Model="this">
    <div class="form-check">
        <InputCheckbox @bind-Value="RecycledFilter" class="form-check-input" />
        <label class="form-check-label">Recycled</label>
    </div>
    <div class="form-check">
        <InputCheckbox @bind-Value="VirginFilter" class="form-check-input" />
        <label class="form-check-label">Virgin</label>
    </div>
</EditForm>

@code {
    [Parameter]
    public bool RecycledFilter { get; set; }

    [Parameter]
    public bool VirginFilter { get; set; }
}
