@foreach (var attributeValue in ProductAttributeValues)
{
    <p>
        <span class="oi oi-circle-check"></span> 
        <strong>@attributeValue.ProductAttribute.Name:</strong>
        @attributeValue.Value
    </p>
}

@code {
    [Parameter]
    public IEnumerable<ProductAttributeValueDTO> ProductAttributeValues { get; set; }
}
