
<div class="card" style="width: 18rem;">
    <img src="@Product.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body text-center">
        <h5 class="card-title">@Product.Name - @Product.Type.Name</h5>
        <p class="card-text"></p>
        <a href="products/detail/@Product.Id" class="btn btn-primary d-inline">
            View Details
        </a>
        <a href="#" class="btn btn-primary d-inline">
            Add to Cart
        </a>
    </div>
</div>

@code {
    [Parameter]
    public ProductDTO Product { get; set; }
}
