@page "/profile"
@inject IAccountService accountService
@inject IToastService toastService

@if (Account is null || this.SaveInProgress)
{
    <Spinner/>
}
else
{
    <h1>Profile</h1>

    <div class="row">
        <div class="col-sm-6">
            <EditForm Model="@Account" OnValidSubmit="@SaveAccount">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <InputText @bind-Value="Account.FirstName" id="firstname" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <InputText @bind-Value="Account.LastName" id="lastname" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="displayname" class="form-label">Display Name</label>
                    <InputText @bind-Value="Account.DisplayName" id="displayname" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email <em>(Where emails are sent, NOT your log in email)</em></label>
                    <InputText @bind-Value="Account.Email" id="email" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary me-2">Save</button>

            </EditForm>
        </div>
    </div>
}


@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; }

    private AccountDTO Account { get; set; }

    public bool SaveInProgress { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.Account = await accountService.GetAccountAsync(AppState.CurrentAccountId);
    }

    private async Task SaveAccount()
    {
        this.SaveInProgress = true;

        await this.accountService.SaveAccount(this.Account);

        this.toastService.ShowSuccess(
            message: $"Your profile information has been saved successfully.",
            heading: "Success");

        this.SaveInProgress = false;
    }
}


