<div class="alert alert-primary alert-dismissible fade show" role="alert">
    Product <em>@Product.Name</em> has been saved succesfully.<br />
    <p class="mt-2">
        <a href="admin/product/preview/@Product.Id" class="btn btn-primary">
            Preview Product
        </a>
    </p>
    <p class="m-0">
        <a href="admin/product/list" class="btn btn-primary">
            Return to Product List
        </a>
    </p>
    <button 
        type="button" 
        class="btn-close" 
        data-bs-dismiss="alert" 
        aria-label="Close"
        onclick="@OnDismissClickCallback">
    </button>
</div>

@code {
    [Parameter]
    public ProductDTO Product { get; set; }

    [Parameter]
    public EventCallback OnDismissClickCallback { get; set; }
}
